<svg width="940" height="440" viewBox="0 0 940 440" xmlns="http://www.w3.org/2000/svg">
  <defs>

    <linearGradient id="MyGradient">
      <stop offset="10%" stop-color="red"></stop>
      <stop offset="95%" stop-color="green" />
    </linearGradient>

    <radialGradient id="exampleGradient">
      <stop offset="10%" stop-color="gold" />
      <stop offset="95%" stop-color="green" />
    </radialGradient>
    <radialGradient spreadMethod="reflect" cx="50%" cy="50%" r="50%" fx="25%" fy="75%" fr="10%" id="flameGradient">
      <stop offset="0%" stop-color="white" />
      <stop offset="10%" stop-color="yellow" />
      <stop offset="95%" stop-color="red" />
    </radialGradient>
  </defs>
  <circle fill="url(#exampleGradient)" cx="60" cy="60" r="50" />
  <circle fill="url(#flameGradient)" cx="180" cy="60" r="50" />
  <rect fill="url(#MyGradient)" x="0" y="0" width="50" height="50" />
  <circle fill="red" cx="100" cy="100" r="10"></circle>
  <ellipse cx="120" cy="120" rx="20" ry="5" fill="pink"></ellipse>
  <!-- <image xlink:href="/files/2917/fxlogo.png" x="130" y="130" height="100" width="100" />  -->
  <line x1="5" y1="5" x2="50" y2="150" stroke="green"></line>
  <line x1="55" y1="5" x2="50" y2="150" stroke="green"></line>
  <line x1="95" y1="5" x2="50" y2="150" stroke="green"></line>
  <path fill="#F7931E" d="M37,17v15H14V17H37z M50,0H0v50h50V0z" />
  <polygon points="100,10 250,150 200,110" style="fill:lime;stroke:purple;stroke-width:1" />
  <polyline points="100,40 250,150 200,110" style="fill:lime;stroke:purple;stroke-width:1" />
  <rect x="180" y="210" width="20" height="20" />
  <rect x="210" y="210" width="20" height="20" rx="10" ry="20" />
  <g stroke="green" fill="white" stroke-width="5">
    <circle cx="25" cy="145" r="15" />
    <circle cx="40" cy="145" r="15" />
    <circle cx="55" cy="145" r="15" />
    <circle cx="70" cy="145" r="15" />
  </g>

  <symbol id="sym01" viewBox="0 0 150 110">
    <circle cx="50" cy="50" r="40" stroke-width="8" stroke="red" fill="red" />
    <circle cx="90" cy="60" r="40" stroke-width="8" stroke="green" fill="white" />
  </symbol>

  <!-- actual drawing by "use" element -->
  <use xlink:href="#sym01" x="0" y="0" width="100" height="50" />
  <use xlink:href="#sym01" x="0" y="50" width="75" height="38" />
  <use xlink:href="#sym01" x="0" y="100" width="50" height="25" />

  <defs>
    <path id="MyPath" d="M 10 200 
            C 200 100 300   0 400 100
            C 500 200 600 300 700 200
            C 800 100 900 100 900 100" />
  </defs>

  <use xlink:href="#MyPath" fill="none" stroke="red" />

  <text font-family="Verdana" font-size="12.5">
    <textPath xlink:href="#MyPath">
      We go up, then we go down, then up again
    </textPath>
  </text>
  <defs>
    <text id="ReferencedText">
      Referenced character data
    </text>
  </defs>

  <text x="100" y="100" font-size="45" >
    Inline character data
  </text>

  <text x="100" y="200" font-size="45" fill="red" >
    <tref xlink:href="#ReferencedText"/>
  </text> 
  <!-- Show outline of the viewport using 'rect' element -->
  <rect x="1" y="1" width="930" height="298" fill="none" stroke="black" stroke-width="2" />
  <!-- 动画 -->
  <rect x="10" y="10" width="100" height="100">
    <animate attributeType="XML" attributeName="x" from="-100" to="120"
        dur="10s" repeatCount="indefinite"/>
  </rect>
  <defs>
    <filter id="spotlight">
      <feFlood result="floodFill" x="0" y="0" width="100%" height="100%"
          flood-color="green" flood-opacity="1"/>
      <feBlend in="SourceGraphic" in2="floodFill" mode="multiply"/>
    </filter>
  </defs>

  <!-- <image xlink:href="/files/6457/mdn_logo_only_color.png"
      x="10%" y="10%" width="80%" height="80%"
      style="filter:url(#spotlight);"/> -->
</svg>